Assignment1/Support.json
{
  "name": "AI Support Triage Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-triage",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1f9b2a10-0001-4a1a-9c1a-000000000001",
      "name": "Webhook - Incoming Message",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "support-triage"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support triage assistant. Analyze this customer message and respond ONLY with valid JSON in this exact format: {\"category\": \"billing|technical|account|general\", \"priority\": \"low|medium|high\", \"summary\": \"one line summary\", \"suggested_reply\": \"a short helpful reply to send the customer\"}. Customer message: {{ $json.body.message }}",
        "options": {}
      },
      "id": "1f9b2a10-0001-4a1a-9c1a-000000000003",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [480, 300]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "id": "1f9b2a10-0001-4a1a-9c1a-000000000010",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [480, 500],
      "credentials": {
        "openAiApi": {
          "id": "openai-api-key",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nlet parsed;\ntry {\n  const cleaned = raw.replace(/```json|```/g, '').trim();\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  parsed = { category: 'general', priority: 'medium', summary: 'Could not parse AI response', suggested_reply: 'Thanks for reaching out, our team will get back to you shortly.' };\n}\nreturn [{ json: {\n  customer_message: $('Webhook - Incoming Message').first().json.body.message,\n  customer_email: $('Webhook - Incoming Message').first().json.body.email,\n  category: parsed.category,\n  priority: parsed.priority,\n  summary: parsed.summary,\n  suggested_reply: parsed.suggested_reply\n} }];"
      },
      "id": "1f9b2a10-0001-4a1a-9c1a-000000000004",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"received\",\n  \"category\": \"{{ $json.category }}\",\n  \"priority\": \"{{ $json.priority }}\",\n  \"summary\": \"{{ $json.summary }}\",\n  \"reply\": \"{{ $json.suggested_reply }}\"\n}",
        "options": {}
      },
      "id": "1f9b2a10-0001-4a1a-9c1a-000000000009",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Webhook - Incoming Message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
